/*.wrapper{
    display: flex;
}

.Sidebar {
    width: 250px; /* Ancho del sidebar */
    /*background-color: #333; /* Color de fondo del sidebar, puedes ajustarlo según tus preferencias */
    /*transition: width 300ms cubic-bezier(0,2,0,0,1) 0s;
}*/
/*
.content {
    flex-grow: 1; /* Hace que el contenido ocupe el espacio restante */
    /*padding: 20px; /* Añade relleno al contenido según sea necesario */
/*}*/

.logout-container{
    position: fixed; /* Permite que el enlace permanezca fijo en la pantalla */
    bottom: 0; /* Lo coloca en la parte inferior */
    left: 0;
    width: 80px; /* Lo coloca en el centro horizontal */
    background-color: #294b8b; /* Color de fondo */
    color: white; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #075E54;
}